<?xml version="1.0"?>
<!--
/**
 * Configuration management support for Magento 2. Whatever that means.
 *
 * @package   Iods\SysConfig
 * @author    Rye Miller <rye@drkstr.dev>
 * @copyright Copyright (c) 2022, Rye Miller (http://ryemiller.io)
 * @license   See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Config\Block\System\Config\Form\Field">
        <plugin name="add_scope_hint_html"
                type="Iods\SysConfig\Plugin\AddScopeConfigHtmlPlugin" />
    </type>
    <type name="Magento\Config\Model\Config\Structure\Converter">
        <plugin name="Iods_SysConfig::add_sort_order_to_labels"
                type="Iods\SysConfig\Plugin\AddSortOrderToLabelPlugin" />
    </type>
    <type name="Magento\Config\Model\Config\Structure\Element\Field">
        <plugin name="Iods_SysConfig::add_path_to_comment"
                type="Iods\SysConfig\Plugin\AddConfigPathToCommentPlugin" />
    </type>
    <type name="Magento\Framework\Acl\AclResource\Provider">
        <plugin name="Iods_SysConfig::add_sort_order_to_resource_labels"
                type="Iods\SysConfig\Plugin\AddSortOrderToResourceLabelPlugin" />
    </type>

    <type name="Iods\Configs\Model\System\Config\General">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="enabled" xsi:type="string">configs/general/enabled</item>
                <item name="api_url" xsi:type="string">configs/general/api_url</item>
                <item name="api_key" xsi:type="string">configs/general/api_key</item>
                <item name="email" xsi:type="string">configs/general/email</item>
                <item name="countries" xsi:type="string">configs/general/countries</item>
                <item name="time" xsi:type="string">configs/general/time</item>
            </argument>
        </arguments>
    </type>
    <type name="Iods\Configs\Model\System\Config\FormDynamic">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="values" xsi:type="string">configs/form_dynamic/values</item>
            </argument>
        </arguments>
    </type>
    <type name="Iods\Configs\Model\System\Config\FrontendModel">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="color" xsi:type="string">configs/frontend_model/color</item>
            </argument>
        </arguments>
    </type>

</config>