<?xml version="1.0"?>
<!--
/**
 * Configuration management support for Magento 2. Whatever that means.
 *
 * @package   Iods\SysConfig
 * @author    Rye Miller <rye@drkstr.dev>
 * @copyright Copyright (c) 2022, Rye Miller (http://ryemiller.io)
 * @license   See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Iods_SysConfig" setup_version="0.1.1" schema_version="0.1.1" data_version="0.1.1">
        <sequence>
          <module name="Magento_StoreGraphQl"/>
        </sequence>
    </module>
</config>
